<h1>Burgers</h1>

<h3>burgers ate</h3>

<ul>
  {{#each burgers}}
  	<li>
  	   <p>name: {{id}}</p>
       <p>burgers: {{burgers}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>